body{
	background-color:#FFFFFF;
	font-family: "Trebuchet MS";
	width:940px;
	margin-right:auto;
	margin-left:auto;
}

#titulo{
	text-align:center;
}

#artigo{
	border: 1px solid #CCCCCE;
    border-radius: 3px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                0 2px 7px rgba(0, 0, 0, 0.2);
	padding: 5px 15px 15px;
}

#banner{
	top:0;
	right:0;
	position:fixed;
}

.botao{
    background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    border: 1px solid #CCCCCE;
    border-radius: 3px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                0 2px 7px rgba(0, 0, 0, 0.2);
    color: #616165;
    display: block;
    font-family: "Trebuchet MS";
    font-size: 10px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow:1px 1px 0 #FFF;
    padding: 5px 15px;
    position: relative;
    width: 150px;
    }
	
.caixaResultado{
	border: 1px solid #CCCCCE;
    border-radius: 3px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                0 2px 7px rgba(0, 0, 0, 0.2);
    color: #616165;
    display: block;
	width:750px;
	height:50px;
	font-family: "Trebuchet MS";
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
}